<div class="content">

<h1>Chip8 Emulator</h1>

<p class="post-text">
    One day I got really intrigued about emulators so I read a lot about it and implemented the <a href="https://en.wikipedia.org/wiki/CHIP-8">Chip8</a>. It is usually the first emulator someone would implement due to it's simplicity. I implemented it all from scratch based on the specs I found on the internet. It was one of the most interesting and fun programming project I did!
</p>

<h2>Some games</h2>
<img src="{{rootImages}}projects/chip8/chip8-pong.png" class="post-img">
<img src="{{rootImages}}projects/chip8/chip8-breakout.png" class="post-img">
<img src="{{rootImages}}projects/chip8/chip8-tetris.png" class="post-img">
<img src="{{rootImages}}projects/chip8/chip8-tank.png" class="post-img">

<p class="post-text">
    After that, I wanted to implement the <a href="https://en.wikipedia.org/wiki/Nintendo_Entertainment_System">NES</a>, but it turns out that this is much more complicated and so I only ended up making a disassembler for the <a href="https://en.wikipedia.org/wiki/MOS_Technology_6502">6502</a> (the CPU of the NES).
</p>

<img src="{{rootImages}}projects/chip8/bender6502.jpg" class="post-img">

<a href="https://github.com/kevenv/chip8"><i class="fab scicon3 fa-fw post-code"></i> Code</a>

</div>