<h1>Chip8 Emulator</h1>

<p>
    One day I got really intrigued about emulators so I read a lot about it and implemented the <a href="https://en.wikipedia.org/wiki/CHIP-8">Chip8</a>. It is usually the first emulator someone would implement due to it's simplicity. I implemented it all from scratch based on the specs I found on the internet. It was one of the most interesting and fun programming project I did!
</p>

<h2>Some games</h2>
<img src="{{rootImages}}projects/chip8/chip8-pong.png">
<img src="{{rootImages}}projects/chip8/chip8-breakout.png">
<img src="{{rootImages}}projects/chip8/chip8-tetris.png">
<img src="{{rootImages}}projects/chip8/chip8-tank.png">

<p>
    After that, I wanted to implement the <a href="https://en.wikipedia.org/wiki/Nintendo_Entertainment_System">NES</a>, but it turns out that this is much more complicated and so I only ended up making a disassembler for the <a href="https://en.wikipedia.org/wiki/MOS_Technology_6502">6502</a> (the CPU of the NES).
</p>

<img src="{{rootImages}}projects/chip8/bender6502.jpg">

<p class="link-button">
    <a href="https://github.com/kevenv/chip8"><i class="fab fa-github fa-lg"></i> Code</a>
</p>
