<h1>Practical product sampling for single scattering in media</h1>
<p>
    Keven Villeneuve, Adrien Gruson, Iliyan Georgiev, Derek Nowrouzezahrai<br>
    <i>EGSR 2021</i>
</p>

<img src="{{rootImages}}publications/volume_product_sampling_cover2.jpg" class="align-left">

<h3>Abstract</h3>
<p class="justify">
    Efficient Monte-Carlo estimation of volumetric single scattering remains challenging due to various sources of variance, including transmittance, phase-function anisotropy, geometric cosine foreshortening, and squared-distance fall-off. We propose several complementary techniques to importance sample each of these terms and their product. First, we introduce an extension to equi-angular sampling to analytically account for the foreshortening at point-normal emitters. We then include transmittance and phase function via Taylor-series expansion and/or warp composition. Scaling to complex mesh emitters is achieved through an adaptive tree-splitting scheme. We show improved performance over state-of-the-art baselines in a diversity of scenarios.
</p>

<h3>Downloads</h3>
<p class="link-button">
    <a href="{{rootDocs}}volume_product_sampling.pdf"><i class='bx bx-file bx-sm'></i>Paper</a>
    <a href="{{rootDocs}}volume_product_sampling_supplemental.pdf"><i class='bx bx-file bx-sm'></i>Supplemental</a>
    <a href="{{rootDocs}}volume_product_sampling_EGSR2021.pdf"><i class='bx bx-file bx-sm'></i>Slides</a>
    <a href="{{rootDocs}}volume_product_sampling_EGSR2021.pptx"><i class='bx bx-slideshow bx-sm'></i>Slides</a>
    <a href="https://www.youtube.com/embed/iETDEkcRI8M?start=2075&end=2948"><i class='bx bx-movie-play bx-sm'></i>Talk</a>
    <a href="https://github.com/beltegeuse/rustlight/tree/point-normal"><i class='bx bxl-github bx-sm'></i>Code</a>
</p>

<h3>BibTeX</h3>
<pre class="bibtex">
@article{Villeneuve:2021:VolumeProductSampling,
  author = {Keven Villeneuve and Adrien Gruson and Iliyan Georgiev and Derek Nowrouzezahrai},
  title = {Practical product sampling for single scattering in media},
  booktitle = {Proceedings of EGSR},
  year = {2021},
  month = jun,
  publisher = {The Eurographics Association}
}
</pre>
