<div class="content">

<h1 class="publication-title">Practical Product Sampling for Single Scattering in Media</h1>
<p class="publication-author">Keven Villeneuve, Adrien Gruson, Iliyan Georgiev, Derek Nowrouzezahrai</p>
<p class="publication-booktitle">EGSR 2021</p>

<img class="publication-img" src="{{rootImages}}publications/volume_product_sampling_cover2.jpg">
<!--
<p class="publication-caption">
	caption
</p>
-->

<h2>Abstract</h2>
<p class="publication-abstract">
    Efficient Monte-Carlo estimation of volumetric single scattering remains challenging due to various sources of variance, including transmittance, phase-function anisotropy, geometric cosine foreshortening, and squared-distance fall-off. We propose several complementary techniques to importance sample each of these terms and their product. First, we introduce an extension to equi-angular sampling to analytically account for the foreshortening at point-normal emitters. We then include transmittance and phase function via Taylor-series expansion and/or warp composition. Scaling to complex mesh emitters is achieved through an adaptive tree-splitting scheme. We show improved performance over state-of-the-art baselines in a diversity of scenarios.
</p>

<h2>Downloads</h2>
<a href="{{rootDocs}}volume_product_sampling.pdf"><i class="far fa-file-pdf"></i> Paper</a>
<a href="{{rootDocs}}volume_product_sampling_supplemental.pdf"><i class="far fa-file-pdf"></i> Supplemental</a>
<a href="{{rootDocs}}volume_product_sampling_EGSR2021.pdf"><i class="far fa-file-pdf"></i> Slides</a>
<a href="{{rootDocs}}volume_product_sampling_EGSR2021.pptx"><i class="far fa-file-powerpoint"></i> Slides</a>
<a href="https://www.youtube.com/embed/iETDEkcRI8M?start=2075&end=2948"><i class="fas fa-video fa-fw"></i> Video</a>
<a href="https://github.com/beltegeuse/rustlight/tree/point-normal"><i class="fab scicon3 fa-fw"></i> Code</a>

<h2>Video</h2>
<iframe width="1908" height="722" src="https://www.youtube.com/embed/iETDEkcRI8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2>BibTeX</h2>
<pre class="publication-bibtex">
@article{Villeneuve:2021:VolumeProductSampling,
  author = {Keven Villeneuve and Adrien Gruson and Iliyan Georgiev and Derek Nowrouzezahrai},
  title = {Practical product sampling for single scattering in media},
  booktitle = {Proceedings of EGSR},
  year = {2021},
  month = jun,
  publisher = {The Eurographics Association}
}
</pre>

</div>