<h1>About</h1>

<p>Checkout my <a href="https://www.linkedin.com/in/kevenv">LinkedIn</a> for more info about me.</p>

<h2>Interests</h2>
<ul>
    <li>Computer Graphics</li>
        <ul>
            <li>Rendering</li>
            <li>Fluids Simulation</li>
            <li>Physically Based Animation</li>
        </ul>
    <li>Game Engine</li>
    <li>Machine Learning</li>
    <li>Signal Processing</li>
    <li>OS</li>
    <li>VM</li>
    <li>Emulation</li>
    <li>Embedded Systems</li>
    <li>CPU Architecture</li>
    <li>Physics</li>
    <li>3D animated movies</li>
    <li>Photography</li>
</ul>
