<h1>About</h1>

<p><a href="docs/keven_villeneuve_cv.pdf"><i class="far fa-file-pdf"></i> Download my CV</a></p>

<h2>Skills</h2>
<div id="skills-table">
<table>
    <tr>
        <th>LANGUAGES</th>
        <td>C++, C, Python, JavaScript, GLSL, x86 assembly, MATLAB, Mathematica, LaTeX.</td>
    </tr>
    <tr>
        <th>LIBRARIES</th>
        <td>OpenGL, SDL, GLFW, TBB, CUDA, WebGL, Three.js, Qt, Boost, STL, OpenCV, PyTorch, numpy, sklearn.</td>
    </tr>
    <tr>
        <th>TOOLS</th>
        <td>Visual Studio, VTune, Renderdoc, Git, Perforce, Maya, Cinema4D, Bifrost, Arnold, Mitsuba, PBRT.</td>
    </tr>
</table>
</div>


<h2>Education</h2>
<div id="work-table">
<table>
    <tr>
        <td class="left-align">
        <ul id="education-table" class="fa-ul">
            <li>
                <i class="fa-li fas fa-graduation-cap"></i> <div class="education-diploma">M.Eng. Computer Engineering (GPA: 3.94)</div>
                McGill University, Canada<br>
                Thesis: <a href="master_thesis.html">Importance Sampling Polygonal Lights in Participating Media</a><br> (Advisor: <a href="http://www.cim.mcgill.ca/~derek/">Derek Nowrouzezahrai</a>)
            </li>
        </ul>
        </td>
        <td class="education-date">Jan 2017 - May 2019</td>
    </tr>
    <tr>
        <td class="left-align">
        <ul id="education-table" class="fa-ul">
            <li>
                <i class="fa-li fas fa-graduation-cap"></i> <div class="education-diploma">B.Eng. Computer Engineering (GPA: 3.40)</div>
                Universite de Sherbrooke, Canada
            </li>
        </ul>
        </td>
        <td class="education-date">Sep 2012 - Dec 2016</td>
    </tr>
</table>

<h2>Work experience</h2>
<div id="work-table">
<table>
    <tr>
        <th class="left-align">Software developer, Intern</th>
        <th class="center-align">Autodesk (Montreal)</th>
        <th class="right-align">Jan 2019 - May 2019</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Develop a new plugin to provide support of the upcoming <a href="https://area.autodesk.com/blogs/the-maya-blog/introducing-bifrost-for-maya/">Bifrost</a> procedural generation system in the Monte Carlo ray tracing renderer <a href="https://www.arnoldrenderer.com/">Arnold</a>.</li>
            <li>Integrate the plugin into the Arnold development pipeline.</li>
            <li>Create a suite of unit tests to validate the correctness of the plugin.</li>
        </ul>
        </td>
    </tr>
    <tr><td class="work-space"></td></tr>

    <tr>
        <th class="left-align">Teacher Assistant (TA)</th>
        <th class="center-align">McGill University</th>
        <th class="right-align">Sep 2018 - Dec 2018</th>
    </tr>
    <tr>
        <td colspan="3">
        
        <ul>
            <div style="font-style: italic;"><a href="http://www.cim.mcgill.ca/~derek/ecse446.html">Realistic &amp; Advanced Image Synthesis (ECSE 446/546)</a> Prof: Derek Nowrouzezahrai</div>
            <li>
                Develop a hybrid offline and real-time renderer<br>
                (deferred shading + shadow mapping + SSAO + baked GI).
            </li>
            <li>Prepare assignments and the final exam.</li>
            <li>Hold tutorials and office hours.</li>
        </ul>
        </td>
    </tr>
    <tr><td class="work-space"></td></tr>

    <tr>
        <th class="left-align">Software developer, Intern</th>
        <th class="center-align">Autodesk (Montreal)</th>
        <th class="right-align">May 2016 - Aug 2016</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Develop a new tool in <i>Maya</i> using a skinning decomposition algorithm, based on a paper published at SIGGRAPH.</li>
            <li>Develop a graphical user interface and an appropriate workflow for this tool.</li>
        </ul>
        </td>
    </tr>
    <tr><td class="work-space"></td></tr>

    <tr>
        <th class="left-align">Software developer, Intern</th>
        <th class="center-align">Autodesk (Toronto)</th>
        <th class="right-align">Sep 2015 - Dec 2015</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Optimize the FBX importer of <i>Maya</i> using the Intel VTune profiler, giving 6x performance improvement.</li>
            <li>Generalize the animation curves name function to the hardware accelerated context using OpenGL.</li>
            <li>Develop an automated test suite in python to detect performance and usability regressions.</li>
        </ul>
        </td>
    </tr>
    <tr><td class="work-space"></td></tr>

    <tr>
        <th class="left-align">Software developer, Intern</th>
        <th class="center-align">Autodesk (Montreal)</th>
        <th class="right-align">Sep 2014 - Dec 2014</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Optimize a module in <i>Maya</i> using hardware accelerated graphics (OpenGL), giving 4x performance improvement.</li>
            <li>Develop and debug various features in the very large C++ codebase of <i>Maya</i>.</li>
            <li>Write regression tests to ensure retro compatibility of clients' scene.</li>
        </ul>
        </td>
    </tr>
    <tr><td class="work-space"></td></tr>

    <tr>
        <th class="left-align">Engine programmer, Intern</th>
        <th class="center-align">Ubisoft (Montreal)</th>
        <th class="right-align">Jan 2014 - Apr 2014</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Develop and debug features of <i>Assassins Creed Unity</i>'s game engine according to the demands of production.</li>
            <li>Collaborate with a team consisting of hundreds of developers, artists and producers.</li>
            <li>Document the features of the engine in a way that could be easily understood by users.</li>
        </ul>
        </td>
    </tr>
    <tr><td class="work-space"></td></tr>

    <tr>
        <th class="left-align">Software engineer, Intern</th>
        <th class="center-align">Canadian Space Agency (Longueuil)</th>
        <th class="right-align">May 2013 - Aug 2013</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Develop the network layer of the simulator used to train astronauts to manipulate space station's robotic arm <i><a href="https://en.wikipedia.org/wiki/Canadarm">CANADARM</a></i>.</li>
            <li>Improve the design of the multithreaded software to allow for better flexibility and better integration of future features.</li>
        </ul>
        </td>
    </tr>
    
</table>
</div>


<h2>Additional experience</h2>
<ul>
    <li>Organizer of the <a href="http://gfx.lab.mcgill.ca/reading.md.html">GFX Papers Reading Group</a> (McGill University) - 2017 and 2018</li>
    <li>
        Grader for the class <a href="http://www.cim.mcgill.ca/~derek/ecse446.html">ECSE 689: Realistic Image Synthesis</a> (McGill University) - Summer 2017<br>
        Prof: Derek Nowrouzezahrai
    </li>
    <li>
        Grader for the class <a href="http://www.cim.mcgill.ca/~derek/ecse222.html?">ECSE 222: Digital Logic</a> (McGill University) - Winter 2017<br>
        Prof: Derek Nowrouzezahrai
    </li>
    <li>Student Volunteer at <a href="http://s2016.siggraph.org/">SIGGRAPH 2016</a> (Anaheim, USA) - Summer 2016</li>
    <li>Mentor for the <a href="https://www.gyborobotics.com/">GYBO</a> robotics hackathon (Toronto, Canada) - Fall 2015</li>
</ul>


<h2>Honors &amp; Awards</h2>
<ul>    
    <li>
        Graduate Excellence Fellowship (GEF) - 2018<br>
        Electrical &amp; Computer Engineering, McGill University
    </li>
    <li>Winner of "Most retro hack" at <i><a href="https://mchacks.ca/">McHacks 2018</a></i></li>
    <li>2<sup>nd</sup> Place at the <i><a href="http://www.physics.mcgill.ca/hackathon2017/">McGill Physics Hackathon 2017</a></i></li>
    <li>
        Graduate Excellence Fellowship (GEF) - 2017<br>
        Electrical &amp; Computer Engineering, McGill University
    </li>
    <li>2<sup>nd</sup> Place at the <i>Startup Weekend Montreal 2014</i> hackathon</li>
</ul>


<h2>Courses</h2>
<ul>
    <li>
        Realistic Image Synthesis (ECSE 689)<br>
        <div class="courses-prof">Derek Nowrouzezahrai</div>
    </li>
    <li>
        Fundamentals of Computer Animation (COMP 559)<br>
        <div class="courses-prof">Paul Kry</div>
    </li>
    <li>
        Fundamentals of Computer Graphics (COMP 557)<br>
        <div class="courses-prof">Paul Kry</div>
    </li>
    <li>
        Computational Photography (ECSE 683)<br>
        <div class="courses-prof">James Clark</div>
    </li>
    <li>
        Applied Machine Learning (COMP 551)<br>
        <div class="courses-prof">Joelle Pineau</div>
    </li>
    <li>
        Artificial Intelligence (GEI 792)<br>
        <div class="courses-prof">Jean Rouat</div>
    </li>
    <li>
        Digital Signal Quantization (GEI 781)<br>
        <div class="courses-prof">Philippe Gournay</div>
    </li>
    <li>
        Digital Signal Modelization (GEI 780)<br>
        <div class="courses-prof">Eric Plourde</div>
    </li>
    <li>
        Digital Signal Processing (GIF 443)<br>
        <div class="courses-prof">Eric Plourde</div>
    </li>
</ul>


<h2>Interests</h2>
<ul>
    <li>Computer Graphics</li>
        <ul>
            <li>Rendering</li>
            <li>Fluids simulation</li>
            <li>Physically based animation</li>
        </ul>
    <li>Game engine</li>
    <li>Machine learning</li>
    <li>Digital signal processing</li>
    <li>Low-level stuff (bits and bytes)
        <ul>            
            <li>OS</li>
            <li>VM</li>
            <li>Emulation</li>
            <li>Embedded systems</li>
            <li>CPU/GPU architecture</li>
        </ul>
    </li>
    <li>Physics</li>
    <li>3D animated movies</li>
    <li>Photography</li>
</ul>
