<h1>About</h1>

<h2>Skills</h2>
<div id="skills-table">
<table>
    <tr>
        <th>LANGUAGES</th>
        <td>C++, C, Python, JavaScript, GLSL, x86 assembly, MATLAB, Mathematica, LaTeX.</td>
    </tr>
    <tr>
        <th>LIBRARIES</th>
        <td>OpenGL, Intel TBB, CUDA, WebGL, Three.js, OpenCV, Qt, Boost, STL, TensorFlow.</td>
    </tr>
    <tr>
        <th>TOOLS</th>
        <td>Visual Studio, Intel VTune, Perforce, Git, Maya, Mitsuba.</td>
    </tr>
</table>
</div>


<h2>Education</h2>
<div id="work-table">
<table>
    <tr>
        <td class="left-align">
        <ul id="education-table" class="fa-ul">
            <li>
                <i class="fa-li fas fa-graduation-cap"></i> <div class="education-diploma">M.Eng. Computer Engineering (GPA: 3.94)</div>
                McGill University, Canada<br>
                Thesis supervisor: <a href="http://www.cim.mcgill.ca/~derek/">Derek Nowrouzezahrai</a>
            </li>
        </ul>
        </td>
        <td class="education-date">Jan 2017 - Oct 2018 (expected)</td>
    </tr>
    <tr>
        <td class="left-align">
        <ul id="education-table" class="fa-ul">
            <li>
                <i class="fa-li fas fa-graduation-cap"></i> <div class="education-diploma">B.Eng. Computer Engineering (GPA: 3.40)</div>
                Universite de Sherbrooke, Canada
            </li>
        </ul>
        </td>
        <td class="education-date">Sep 2012 - Dec 2016</td>
    </tr>
</table>

<h2>Work experience</h2>
<div id="work-table">
<table>
    <tr>
        <th class="left-align">Graduate Student Researcher</th>
        <th class="center-align">McGill University</th>
        <th class="right-align">May 2017 - Present</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Research in Volumetric Path Tracing at the <a href="http://gfx.lab.mcgill.ca/">Graphics &amp; Imaging Lab (GIL)</a>.</li>
        </ul>
        </td>
    </tr>

    <tr>
        <th class="left-align">Software developer, Intern</th>
        <th class="center-align">Autodesk (Montreal)</th>
        <th class="right-align">May 2016 - Aug 2016</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Develop a new tool in <i>Maya</i> using a skinning decomposition algorithm, based on a paper published at SIGGRAPH.</li>
            <li>Develop a graphical user interface and an appropriate workflow for this tool.</li>
        </ul>
        </td>
    </tr>

    <tr>
        <th class="left-align">Software developer, Intern</th>
        <th class="center-align">Autodesk (Toronto)</th>
        <th class="right-align">Sep 2015 - Dec 2015</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Optimize the FBX importer of <i>Maya</i> using Intel VTune profiler, giving 6x performance improvement.</li>
            <li>Generalize the animation curves name function to the hardware accelerated context using OpenGL.</li>
            <li>Develop an automated test suite in python to detect performance and usability regressions.</li>
        </ul>
        </td>
    </tr>

    <tr>
        <th class="left-align">Software developer, Intern</th>
        <th class="center-align">Autodesk (Montreal)</th>
        <th class="right-align">Sep 2014 - Dec 2014</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Optimize a module in <i>Maya</i> using hardware accelerated graphics (OpenGL), giving 4x performance improvement.</li>
            <li>Develop and debug various features in the very large C++ codebase of <i>Maya</i>.</li>
            <li>Write regression tests to ensure retro compatibility of clients' scene.</li>
        </ul>
        </td>
    </tr>

    <tr>
        <th class="left-align">Engine programmer, Intern</th>
        <th class="center-align">Ubisoft (Montreal)</th>
        <th class="right-align">Jan 2014 - Apr 2014</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Develop and debug features of <i>Assassins Creed Unity</i>'s game engine according to the demands of production.</li>
            <li>Collaborate with a team consisting of hundreds of developers, artists and producers.</li>
            <li>Document the features of the engine in a way that could be easily understood by users.</li>
        </ul>
        </td>
    </tr>

    <tr>
        <th class="left-align">Software engineer, Intern</th>
        <th class="center-align">Canadian Space Agency (Longueuil)</th>
        <th class="right-align">May 2013 - Aug 2013</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Develop the network layer of the simulator used in the training of astronauts to handle the space robotic arm <i>CANADARM</i> using the boost::asio software library.</li>
            <li>Improve the design of multithreaded software to allow for better flexibility and better integration of future features.</li>
        </ul>
        </td>
    </tr>

    <tr>
        <th class="left-align">Software developer</th>
        <th class="center-align">CIMA+ (Quebec city)</th>
        <th class="right-align">May 2012 - May 2013</th>
    </tr>
    <tr>
        <td colspan="3">
        <ul>
            <li>Design and develop an archiving platform in C# from scratch, allowing huge savings in many departments.</li>
        </ul>
        </td>
    </tr>
    
</table>
</div>


<h2>Additional experience</h2>
<ul>
    <li>Organizer of the <a href="http://gfx.lab.mcgill.ca/reading.md.html">GFX Papers Reading Group</a> (McGill University) - Ongoing</li>
    <li>Grader for the class ECSE 222: Digital Circuits (McGill University) Prof: Derek Nowrouzezahrai - Winter 2017</li>
    <li>Student Volunteer at SIGGRAPH 2016 (Anaheim, USA) - Summer 2016</li>
    <li>Mentor for the <i>Get your bot on</i> robotic hackathon (Toronto, Canada) - Fall 2015</li>
</ul>


<h2>Honors &amp; Awards</h2>
<ul>    
    <li>Graduate Excellence Fellowship (GEF), Electrical &amp; Computer Engineering - McGill University, 2018</li>
    <li>Winner of "Most retro hack" at <i>McHacks 2018</i></li>
    <li>2<sup>nd</sup> Place at the <i>McGill Physics Hackathon 2017</i></li>
    <li>Graduate Excellence Fellowship (GEF), Electrical &amp; Computer Engineering - McGill University, 2016</li>
    <li>2<sup>nd</sup> Place at the <i>Startup Weekend Montreal 2014</i> hackathon</li>
</ul>


<h2>Courses</h2>
<ul>
    <li>
        Realistic Image Synthesis (ECSE 689)<br>
        <div class="courses-prof">Derek Nowrouzezahrai</div>
    </li>
    <li>
        Fundamentals of Computer Animation (COMP 559)<br>
        <div class="courses-prof">Paul Kry</div>
    </li>
    <li>
        Fundamentals of Computer Graphics (COMP 557)<br>
        <div class="courses-prof">Paul Kry</div>
    </li>
    <li>
        Computational Photography (ECSE 683)<br>
        <div class="courses-prof">James Clark</div>
    </li>
    <li>
        Applied Machine Learning (COMP 551)<br>
        <div class="courses-prof">Joelle Pineau</div>
    </li>
    <li>
        Artificial Intelligence (GEI 792)<br>
        <div class="courses-prof">Jean Rouat</div>
    </li>
    <li>
        Digital Signal Quantization (GEI 781)<br>
        <div class="courses-prof">Philippe Gournay</div>
    </li>
    <li>
        Digital Signal Modelization (GEI 780)<br>
        <div class="courses-prof">Eric Plourde</div>
    </li>
    <li>
        Digital Signal Processing (GIF 443)<br>
        <div class="courses-prof">Eric Plourde</div>
    </li>
</ul>


<h2>Interests</h2>
<ul>
    <li>Computer Graphics</li>
        <ul>
            <li>Rendering</li>
            <li>Fluids Simulation</li>
            <li>Physically Based Animation</li>
        </ul>
    <li>Game Engine</li>
    <li>Machine Learning</li>
    <li>Signal Processing</li>
    <li>OS</li>
    <li>VM</li>
    <li>Emulation</li>
    <li>Embedded Systems</li>
    <li>CPU Architecture</li>
    <li>Physics</li>
    <li>3D animated movies</li>
    <li>Photography</li>
</ul>
