<h1>Blog</h1>

<ul class='post-list'>
    <li>
        <small>2024-05-08</small>
        <h3><a href="{{root}}blog/heat_equation.html">Heat Equation</a></h3>
    </li>
    <li>
        <small>2023-06-24</small>
        <h3><a href="{{root}}blog/hello.html">Hello World!</a></h3>
    </li>
    <li>
        <small>2023-06-13</small>
        <h3><a href="{{root}}blog/hello.html">Simulating the solar system</a></h3>
    </li>
    <li>
        <small>2023-06-05</small>
        <h3><a href="{{root}}blog/hello.html">Numerical Integration</a></h3>
    </li>
</ul>
