<h1>Blog</h1>

<ul class='post-list'>
    <li>
        <small>2024-06-17</small>
        <h3><a href="{{root}}blog/bmp_format.html">BMP Image Format</a></h3>
    </li>
    <li>
        <small>2024-06-01</small>
        <h3><a href="{{root}}blog/priority_queue.html">Priority Queue</a></h3>
    </li>
    <li>
        <small>2024-05-31</small>
        <h3><a href="{{root}}blog/why_linux.html">Why Linux</a></h3>
    </li>
    <li>
        <small>2024-05-29</small>
        <h3><a href="{{root}}blog/sort_algos.html">Sorting algorithms</a></h3>
    </li>
    <!--
    <li>
        <small>2024-05-25</small>
        <h3><a href="{{root}}blog/zip_format.html">ZIP - File Format</a></h3>
    </li>
    -->
    <!--
    <li>
        <small>2024-05-08</small>
        <h3><a href="{{root}}blog/heat_equation.html">Heat Equation</a></h3>
    </li>
    <li>
        <small>2023-06-24</small>
        <h3><a href="{{root}}blog/hello.html">Hello World!</a></h3>
    </li>
    -->
</ul>

<h2>CUDA</h2>
<ul class='post-list'>
    <li>
        <small>2024-05-28</small>
        <h3><a href="{{root}}blog/cuda_hello.html">CUDA Tutorial 1 - Hello World!</a></h3>
    </li>
</ul>

<h2>Cheatsheets</h2>
<ul class='post-list'>
    <!--
    <li>
        <small>2024-05-27</small>
        <h3><a href="{{root}}blog/phys_mec_cheatsheet.html">Physics Mechanics Cheatsheet</a></h3>
    </li>
    -->
    <li>
        <small>2024-06-27</small>
        <h3><a href="{{root}}blog/c_style.html">C Style</a></h3>
    </li>
    <li>
        <small>2024-06-02</small>
        <h3><a href="{{root}}blog/makefile_cheatsheet.html">Makefile Cheatsheet</a></h3>
    </li>
    <li>
        <small>2024-05-28</small>
        <h3><a href="{{root}}blog/git_cheatsheet.html">Git Cheatsheet</a></h3>
    </li>
    <li>
        <small>2024-05-27</small>
        <h3><a href="{{root}}blog/bash_cheatsheet.html">Bash Cheatsheet</a></h3>
    </li>
    <li>
        <small>2024-05-26</small>
        <h3><a href="{{root}}blog/linux_cheatsheet.html">Linux Cheatsheet</a></h3>
    </li>
</ul>
