<h1>Blog</h1>

<ul class='post-list'>
    <li>
        <small>2024-06-17</small>
        <h3><a href="{{root}}blog/bmp_format.html">BMP image format</a></h3>
    </li>
    <li>
        <small>2024-06-01</small>
        <h3><a href="{{root}}blog/priority_queue.html">Priority queue</a></h3>
    </li>
    <li>
        <small>2024-05-31</small>
        <h3><a href="{{root}}blog/why_linux.html">Why Linux</a></h3>
    </li>
    <li>
        <small>2024-05-29</small>
        <h3><a href="{{root}}blog/sort_algos.html">Sorting algorithms</a></h3>
    </li>
    <!--
    <li>
        <small>2024-05-25</small>
        <h3><a href="{{root}}blog/zip_format.html">ZIP - file format</a></h3>
    </li>
    -->
</ul>

<h2>CUDA</h2>
<ul class='post-list'>
    <li>
        <small>2024-05-28</small>
        <h3><a href="{{root}}blog/cuda_hello.html">CUDA Tutorial 1 - Hello world!</a></h3>
    </li>
</ul>

<h2>Cheatsheets</h2>
<ul class='post-list'>
    <li>
        <small>2024-07-05</small>
        <h3><a href="{{root}}blog/fedora_nvidia.html">Fedora + Nvidia</a></h3>
    </li>
    <li>
        <small>2024-07-04</small>
        <h3><a href="{{root}}blog/fedora_setup.html">Fedora setup</a></h3>
    </li>
    <li>
        <small>2024-07-09</small>
        <h3><a href="{{root}}blog/css_cheatsheet.html">CSS cheatsheet</a></h3>
    </li>
    <li>
        <small>2024-06-27</small>
        <h3><a href="{{root}}blog/c_style.html">C style</a></h3>
    </li>
    <li>
        <small>2024-06-02</small>
        <h3><a href="{{root}}blog/makefile_cheatsheet.html">Makefile cheatsheet</a></h3>
    </li>
    <li>
        <small>2024-05-28</small>
        <h3><a href="{{root}}blog/git_cheatsheet.html">Git cheatsheet</a></h3>
    </li>
    <li>
        <small>2024-05-27</small>
        <h3><a href="{{root}}blog/bash_cheatsheet.html">Bash cheatsheet</a></h3>
    </li>
    <li>
        <small>2024-05-26</small>
        <h3><a href="{{root}}blog/linux_cheatsheet.html">Linux cheatsheet</a></h3>
    </li>
</ul>
