<h1>Contact</h1>

<ul>
    <li>Email: <img src="imgs/email_img.png"></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/kevenv">kevenv</a></li>
    <li>Github: <a href="https://github.com/kevenv">kevenv</a></li>
    <li>Twitter: <a href="https://twitter.com/keven_v">keven_v</a></li>
    <li>Discord: keven#0104</li>
</ul>
