<div class="content">

<h1>Contact</h1>

<ul class="fa-ul">
    <li class="contact-email"><img src="{{rootImages}}email.jpg"></li>
    <li><a href="https://www.linkedin.com/in/kevenv"><i class="sc-button fab scicon2 fa-fw"></i>kevenv</a></li>
    <li><a href="https://github.com/kevenv"><i class="sc-button fab scicon3 fa-fw"></i>kevenv</a></li>
    <li><a href="https://twitter.com/keven_v"><i class="sc-button fab scicon4 fa-fw"></i>keven_v</a></li>
</ul>

</div>