<h1>Contact</h1>

<ul class="fa-ul">
    <li><script type="text/javascript">_eml='&#107;&#101;&#118;&#101;&#110;&#046;&#118;&#105;&#108;&#108;&#101;&#110;&#101;&#117;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;';document.write('<a href="&#109;&#097;&#105;&#108;&#116;&#111;:'+_eml+'">'+'<i class="sc-button fas scicon1 fa-fw"></i>'+_eml+'</a>');</script>
    <li><a href="https://www.linkedin.com/in/kevenv"><i class="sc-button fab scicon2 fa-fw"></i>kevenv</a></li>
    <li><a href="https://github.com/kevenv"><i class="sc-button fab scicon3 fa-fw"></i>kevenv</a></li>
    <li><a href="https://twitter.com/keven_v"><i class="sc-button fab scicon4 fa-fw"></i>keven_v</a></li>
</ul>
