<footer>
    <p>
        <a href="https://github.com/kevenv"><i class='bx bxl-github bx-sm'></i></a>
        <a href="https://www.linkedin.com/in/kevenv"><i class='bx bxl-linkedin-square bx-sm'></i></a>
        <a href="https://twitter.com/keven_v"><i class='bx bxl-twitter bx-sm'></i></a>
        <a href="discord:kevenv"><i class='bx bxl-discord-alt bx-sm'></i></a>
        <a href="mailto:keven.villeneuve@gmail.com"><i class='bx bxs-envelope bx-sm'></i></a>
    </p>
    <p>
        Keven Villeneuve &copy; 2023
    </p>
</footer>
