<header>
    <div class="navbar">
        <a id="indexNav" href="{{root}}index.html">HOME</a>
        <a id="aboutNav" href="{{root}}about.html">ABOUT</a>
        <a id="publicationsNav" href="{{root}}publications.html">PUBLICATIONS</a>
        <a id="projectsNav" href="{{root}}projects.html">PROJECTS</a>
        <!--<a id="blogNav" href="{{root}}blog.html">BLOG</a>-->
        <a id="contactNav" href="{{root}}contact.html">CONTACT</a>
    </div>
</header>
