<header>
    <div class="topnav">
        <a id="indexNav" href="index.html">HOME</a>
        <a id="aboutNav" href="about.html">ABOUT</a>
        <a id="projectsNav" href="projects.html">PROJECTS</a>
        <a id="linksNav" href="links.html">LINKS</a>
        <a id="contactNav" href="contact.html">CONTACT</a>
    </div>
</header>
