<header>
    <h1>~/kevenv</h1>
    <nav>
        <a href="{{root}}index.html">Home</a>
        <a href="{{root}}about.html">About</a>
        <a href="{{root}}publications.html">Publications</a>
        <a href="{{root}}projects.html">Projects</a>
        <a href="{{root}}blog.html">Blog</a>
    </nav>
</header>
