<h1>History</h1>

<h2>Education</h2>
<p>
    <strong>Sciences informatiques et mathématiques</strong>, Cégep Limoilou, Québec, Canada<br>
    <i>Aug 2010 - May 2012</i>
</p>
<p>
    <strong>Sciences de la nature</strong>, Collège Mérici, Québec, Canada<br>
    <i>Aug 2009 - May 2010</i>
</p>
<p>
    <strong>Formation générale</strong>, Les Compagnons de Cartier, Québec, Canada<br>
    <i>Sep 2004 -  Jun 2009</i>
</p>

<h2>Work experience</h2>
<p>
    <strong>Technicien informatique</strong>, CIMA+, Québec, Canada<br>
    <i>June 2012 - October 2012</i>
</p>
<p>
    <strong>Assembleur en usine</strong>, Gecko Alliance, Québec, Canada<br>
    <i>May 28 2012 - June 8 2012</i>
</p>
<p>
    <strong>Journalier de nuit</strong>, Bureau en Gros, Québec, Canada<br>
    <i>Summer of 2011</i>
</p>
<p>
    <strong>Dessinateur technique</strong>, Inoxco, Québec, Canada<br>
    <i>Summer of 2010</i>
</p>
