<img src="{{rootImages}}banner.jpg" alt="banner" class="banner">
<p id="intro">
    Hi, I am Keven Villeneuve :)
</p>
<p class="intro-text">
    Software engineer specialized in computer graphics. I like to say that I am passionate about technology, I strive for simple &amp; elegant solutions. Genuinely curious, I love learning about math and physics. I also have a strong interest in low level programming and understanding how everything fits together.
</p>
<p class="intro-text">
    I obtained a <a href="{{root}}publications/master_thesis.html">master's degree</a> from McGill University, under the supervision of <a href="http://www.cim.mcgill.ca/~derek/">Derek Nowrouzezahrai</a>.
    I am currently working at <a href="https://www.nvidia.com/">NVIDIA</a>, simulating Life, the Universe and Everything.
</p>
<p>
    <a href="https://github.com/kevenv"><i class="sc-button fab scicon3 fa-fw"></i></a> <a href="https://www.linkedin.com/in/kevenv"><i class="sc-button fab scicon2 fa-fw"></i></a> <a href="https://twitter.com/keven_v"><i class="sc-button fab scicon4 fa-fw"></i></a> <script type="text/javascript">_eml='&#107;&#101;&#118;&#101;&#110;&#046;&#118;&#105;&#108;&#108;&#101;&#110;&#101;&#117;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;';document.write('<a href="&#109;&#097;&#105;&#108;&#116;&#111;:'+_eml+'">'+'<i class="sc-button fas scicon1 fa-fw"></i></a>');</script>
</p>

<p><a href="{{rootDocs}}keven_villeneuve_cv.pdf"><i class="far fa-file-pdf"></i> Download my CV</a></p>
<p><a href="{{root}}publications/master_thesis.html"><i class="far fa-file-pdf"></i> Download my thesis</a></p>

<div class="project-grids">
<table>
    <tr>
        <td><a href="{{root}}projects.html#pbr"><img src="{{rootImages}}projects/pbr-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#raytracer"><img src="{{rootImages}}projects/raytracer-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#subdivs"><img src="{{rootImages}}projects/subdivs-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#smap"><img src="{{rootImages}}projects/shadowmap-cover.jpg" class="project-grid"></a></td>
    </tr>
    <tr>
        <td><a href="{{root}}projects.html#clothsim"><img src="{{rootImages}}projects/cloth-sim-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#collisions"><img src="{{rootImages}}projects/collisions-solver-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#fluidsim"><img src="{{rootImages}}projects/fluids-sim-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#orbitsim"><img src="{{rootImages}}projects/orbit-sim-cover.jpg" class="project-grid"></a></td>
    </tr>
    <tr>
        <td><a href="{{root}}projects.html#prt"><img src="{{rootImages}}projects/prt-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#europa"><img src="{{rootImages}}projects/europa-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#shinypanda"><img src="{{rootImages}}projects/shinypanda-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#almosttetris"><img src="{{rootImages}}projects/almosttetris-cover.jpg" class="project-grid"></a></td>
    </tr>
    <tr>
        <td><a href="{{root}}projects.html#gbemu"><img src="{{rootImages}}projects/almostgb-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#chip8"><img src="{{rootImages}}projects/chip8-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#neon"><img src="{{rootImages}}projects/neon-cover.jpg" class="project-grid"></a></td>
        <td><a href="{{root}}projects.html#wavesim"><img src="{{rootImages}}projects/waves-sim-cover.jpg" class="project-grid"></a></td>
    </tr>
</table>
</div>
