<img src="imgs/banner.png" alt="banner" class="banner">
<p id="intro">
    Hi, I am Keven Villeneuve :)
</p>
<p class="intro-text">
    Software engineer specialized in 3D Rendering. I like to say that I am passionate about technology, I strive for simple &amp; elegant solutions. Genuinely curious, I love learning about math and physics. I also have a strong interest in low level programming and understanding how everything fits together.
</p>
<p class="intro-text">
    I am currently doing a master in computer graphics at McGill University under the supervision of <a href="http://www.cim.mcgill.ca/~derek/">Derek Nowrouzezahrai</a>. My thesis is focused on light transport in participating medias.
</p>
<p>
    <a href="https://github.com/kevenv"><i class="sc-button fab scicon3 fa-fw"></i></a> <a href="https://www.linkedin.com/in/kevenv"><i class="sc-button fab scicon2 fa-fw"></i></a> <a href="https://twitter.com/keven_v"><i class="sc-button fab scicon4 fa-fw"></i></a> <script type="text/javascript">_eml='&#107;&#101;&#118;&#101;&#110;&#046;&#118;&#105;&#108;&#108;&#101;&#110;&#101;&#117;&#118;&#101;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;';document.write('<a href="&#109;&#097;&#105;&#108;&#116;&#111;:'+_eml+'">'+'<i class="sc-button fas scicon1 fa-fw"></i></a>');</script>
</p>