<img src="imgs/banner.png" alt="banner" class="banner">
<p id="intro">
    Hi, I am Keven Villeneuve :)
</p>
<p>
    M.Eng Computer Graphics<br/>
    Graphics &amp; Imaging Lab (GIL)<br/>
    McGill University<br/>
    Thesis supervisor: <a href="http://www.cim.mcgill.ca/~derek/">Derek Nowrouzezahrai</a>
</p>
