<!DOCTYPE html>
<html lang="en">
    <head>
        {{> header}}
    </head>
    <body>
        <div class="content">
        {{> navbar}}

{{{body}}}
        {{> footer}}
        </div>
    </body>
    <script type="text/javascript">
        document.getElementById("{{pageName}}Nav").className += " active";
    </script>
</html>