<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Keven Villeneuve's personal website">
        <title>~/kevenv - {{title}}</title>
        <link rel="icon" href="{{rootImages}}icon.png">
        <link rel="stylesheet" href="{{root}}style/style.css">
        <link rel="stylesheet" href="{{root}}style/boxicons-2.1.4/css/boxicons.min.css">
{{{head}}}
    </head>
    <body>
        {{> header}}
        <hr>
{{{body}}}
        <hr>
        {{> footer}}
    </body>
</html>
