<!DOCTYPE html>
<html>
    <head>
        {{> header}}
    </head>
    <body>
        <div class="center">
        {{> navbar}}

{{{body}}}
        </div>
    </body>
    <script type="text/javascript">
        document.getElementById("{{pageName}}Nav").className += " active";
    </script>
</html>