<!DOCTYPE html>
<html>
    <head>
        {{> header}}
    </head>
    <body>
        <div class="center">

        {{> navbar}}

        <h1>Links</h1>

        <p class="center-text">Nothing for now...</p>

        </div>
    </body>
    <script type="text/javascript">
        document.getElementById("linksNav").className += " active";
    </script>
</html>