<header>
    <ul class="topnav">
        <li><a id="indexNav" href="index.html">Home</a></li>
        <li><a id="aboutNav" href="about.html">About</a></li>
        <li><a id="projectsNav" href="projects.html">Projects</a></li>
        <li><a id="linksNav" href="links.html">Links</a></li>
        <li><a id="contactNav" href="contact.html">Contact</a></li>
    </ul>
</header>
