<h1>Notes</h1>

<h2>Cheatsheets</h2>
<ul>
    <li><a href="{{root}}notes/linux_cheatsheet.html">Linux cheatsheet</a></li>
    <li><a href="{{root}}notes/bash_cheatsheet.html">Bash cheatsheet</a></li>
    <li><a href="{{root}}notes/git_cheatsheet.html">Git cheatsheet</a></li>
    <li><a href="{{root}}notes/makefile_cheatsheet.html">Makefile cheatsheet</a></li>
    <li><a href="{{root}}notes/c_style.html">C style</a></li>
    <li><a href="{{root}}notes/bit_ops.html">Bitwise operations</a></li>
    <li><a href="{{root}}notes/sort_algos.html">Sorting algorithms</a></li>
    <li><a href="{{root}}notes/priority_queue.html">Priority queue</a></li>
    <li><a href="{{root}}notes/css_cheatsheet.html">CSS cheatsheet</a></li>
    <li><a href="{{root}}notes/fedora_setup.html">Fedora setup</a></li>
    <li><a href="{{root}}notes/fedora_nvidia.html">Fedora + Nvidia</a></li>
</ul>

<h2>Notes</h2>
<ul>
    <li><a href="{{root}}notes/nnet_backprop.html">backprop</a></li>
    <li><a href="{{root}}notes/why_linux.html">Why Linux</a></li>
</ul>
