<h1>Real-Time Strategy Game Engine</h1>

<p class="post-text">
    With a friend we wanted to make a clone of the famous RTS game <a href="https://en.wikipedia.org/wiki/Age_of_Empires">Age of Empires</a> from scratch.
</p>

<img src="imgs/projects/europa/ageofempire.jpg" class="post-img">

<p class="post-text">
    How hard can it be right?
    No need to say that this project was a failure, but we've managed to implement some interesting stuff, still nowhere close to a complete game.
</p>

<img src="imgs/projects/europa/europa-scene.jpg" class="post-img">

<h2>Features</h2>

<ul>
    <li>Entity-Components architecture</li>
    <li>Client/Server network architecture</li>
    <li>Resources manager</li>
    <li>Screens system (Splash screen, Pause, Game, ...)</li>
    <li>2D isometric renderer</li>
    <li>UI system with dirty system</li>
    <li>Text box</li>
    <li>Check box</li>
    <li>Combo box</li>
    <li>Button</li>
    <li>Scroll bar</li>
    <li>Serializer</li>
    <li>Map loader</li>
    <li>Map editor</li>
    <li>Embedded debugging console</li>
    <li>Errors &amp; logging system</li>
    <li>Sound system</li>
    <li>Game entities</li>
    <li>Path finding using A*</li>
</ul>

<p class="post-text">
    I wrote the renderer, UI system and resources manager while my friend worked on the networking system and collisions handling. Our engine was able to handle quite a bit of entities...
</p>

<img src="imgs/projects/europa/europa-macdonald.jpg" class="post-img">

<p class="post-text">Here's the first entity we've sent through the internet!</p>

<img src="imgs/projects/europa/europa-first-entity.jpg" class="post-img">

<a href="https://github.com/Nicolas82588/europa"><i class="fab scicon3 fa-fw post-code"></i> Code</a>