<h1>Projects</h1>

<h2>Computer Graphics &lt;3</h2>

<article>
    <h3 id="pbr"><a href="projects.html#pbr">Physically Based Renderer</a></h3>
    <ul>
        <li>Volumetric Path Tracing</li>
        <li>Progressive Photon Mapping</li>
        <li>Volumetric VPLs</li>
        <li>Volumetric Lightcuts</li>
        <li>MIS</li>
        <li>Area light IS</li>
        <li>Mesh light IS</li>
        <li>Diffuse BRDF</li>
        <li>Phong BRDF</li>
    </ul>
    <img src="{{rootImages}}projects/pbr-cover.jpg">
    <p><i class="fas fa-code fa-fw"></i> C++</p>
    <p class="link-button">
        <a href="https://github.com/kevenv/nori"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
</article>

<article>
    <h3 id="raytracer"><a href="projects.html#raytracer">Ray Tracer</a></h3>
    <ul>
        <li>Phong shader</li>
        <li>Glass shader</li>
        <li>Mirror shader</li>
        <li>Dielectric shader</li>
        <li>Anti-Aliasing</li>
        <li>Environment mapping</li>
    </ul>
    <img src="{{rootImages}}projects/raytracer-cover.jpg">
    <p><i class="fas fa-code fa-fw"></i> Java</p>
</article>

<article>
    <h3 id="subdivs"><a href="projects.html#subdivs">Catmull-Clark Subdivisions</a></h3>
    <p>
        Catmull-Clark subdivisions surfaces with Phong shading.<br>
        Implementation of <a href="https://people.eecs.berkeley.edu/~sequin/CS284/PAPERS/CatmullClark_SDSurf.pdf">Catmull1978</a> paper.
    </p>
    <img src="{{rootImages}}projects/subdivs-cover.jpg">
    <p class="link-button">
        <a href="https://streamable.com/s/3hnk0/yiumat"><i class="fas fa-video fa-fw"></i> Video</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> Java, OpenGL</p>
</article>

<article>
    <h3 id="smap"><a href="projects.html#smap">Shadow Mapping</a></h3>
    <p>
        Shadow mapping with Phong shading.<br>
        Implementation of <a href="http://cseweb.ucsd.edu/~ravir/274/15/papers/p270-williams.pdf">Williams1978</a> paper.
    </p>
    <img src="{{rootImages}}projects/shadowmap-cover.jpg">
    <p><i class="fas fa-code fa-fw"></i> Java, OpenGL</p>
</article>

<article>
    <h3 id="clothsim"><a href="projects.html#clothsim">3D Cloth Simulator</a></h3>
    <p>
        Implementation of <a href="http://physbam.stanford.edu/~fedkiw/papers/stanford2002-01.pdf">Bridson2002</a> paper.
    </p>
    <img src="{{rootImages}}projects/cloth-sim-cover.jpg">
    <p class="link-button">
        <a href="https://streamable.com/s/sfjf8/ssmxop"><i class="fas fa-video fa-fw"></i> Video</a>
        <a href="https://github.com/kevenv/3d-cloth-sim"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> C++, Irrlicht</p>
</article>

<article>
    <h3 id="collisions"><a href="projects.html#collisions">2D Collisions Solver</a></h3>
    <p>
        2D collisions solver using the Gauss-Seidel method.<br>
        Inspired by <a href="https://www.pixar.com/assets/pbm2001/index.html">PBM2001</a>.
    </p>
    <img src="{{rootImages}}projects/collisions-solver-cover.jpg">
    <p class="link-button">
        <a href="https://streamable.com/enxbh"><i class="fas fa-video fa-fw"></i> Video</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> Java, Java2D</p>
</article>

<article>
    <h3 id="fluidsim"><a href="projects.html#fluidsim">Fluids Solver</a></h3>
    <p>
        Implementation of <a href="http://www.dgp.toronto.edu/people/stam/reality/Research/pdf/ns.pdf">Stam1999</a> paper.
    </p>
    <img src="{{rootImages}}projects/fluids-sim-cover.jpg">
    <p><i class="fas fa-code fa-fw"></i> Java, Java2D</p>
</article>

<article>
    <h3 id="orbitsim"><a href="projects.html#orbitsim">Real-Time Solar System Simulator</a></h3>
    <p>Simulate our solar system and asteroids collisions in real-time.</p>
    <img src="{{rootImages}}projects/orbit-sim-cover.jpg">
    <p class="link-button">
        <a href="https://github.com/kevenv/orbitsim"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> C#, WindowsForms</p>
</article>

<article>
    <h3 id="prt"><a href="projects.html#prt">Precomputed Radiance Transfert (PRT)</a></h3>
    <p>
        Implementation of <a href="https://sites.fas.harvard.edu/~cs278/papers/prt.pdf">Sloan2002</a> paper.
    </p>
    <img src="{{rootImages}}projects/prt-cover.jpg">
    <p class="link-button">
        <a href="https://github.com/kevenv/prt"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> Javascript, Three.js, WebGL</p>
</article>

<h2>Video Games</h2>

<article>
    <h3 id="europa"><a href="{{root}}projects/europa.html">Real-Time Strategy Game Engine (Europa)</a></h3>
    <p>A project that was wayyyyy too ambitious.</p>
    <a href="{{root}}projects/europa.html"><img src="{{rootImages}}projects/europa-cover.jpg"></a>
    <p class="link-button">
        <a href="https://github.com/Nicolas82588/europa"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> C++, SDL, OpenGL</p>
</article>

<article>
    <h3 id="shinypanda"><a href="projects.html#shinypanda">2D Puzzle Platformer (ShinyPanda)</a></h3>
    <p>An original 2D Puzzle Platformer, another example of a project way too ambitious...</p>
    <img src="{{rootImages}}projects/shinypanda-cover.jpg">
    <p class="link-button">
        <a href="https://github.com/kevenv/shinypanda"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> C++, SFML</p>
</article>

<article>
    <h3 id="almosttetris"><a href="projects.html#almosttetris">Tetris Clone (Almost Tetris)</a></h3>
    <p>Cute Tetris clone with gameplay recorder.</p>
    <img src="{{rootImages}}projects/almosttetris-cover.jpg">
    <p class="link-button">
        <a href="https://github.com/kevenv/AlmostTetris"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> C#, WindowsForms</p>
</article>

<h2>Low-level</h2>

<article>
    <h3 id="tinyv"><a href="projects.html#tinyv">RISC-V Emulator (tinyv)</a></h3>
    <p>A small RISC-V emulator.</p>
    <ul> <!-- TODO: move this to its own page? -->
        <li>RV64I,M,Zicsr.</li>
        <li>Machine/User/Supervisor privilege levels.</li>
        <li>Exceptions.</li>
        <li>Basic C runtime.</li>
        <li>Console I/O.</li>
        <li>Passes some of the official tests suite.</li>
    </ul>
    <img src="{{rootImages}}projects/tinyv-cover.jpg">
    <p><i class="fas fa-code fa-fw"></i> C</p>
</article>

<article>
    <h3 id="gbemu"><a href="projects.html#gbemu">GameBoy Emulator (AlmostGB)</a></h3>
    <p>My attempt to write a GameBoy emulator.</p>
    <img src="{{rootImages}}projects/almostgb-cover.jpg">
    <p class="link-button">
        <a href="https://github.com/kevenv/AlmostGB"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> C++</p>
</article>

<article>
    <h3 id="chip8"><a href="{{root}}projects/chip8.html">Chip8 Emulator</a></h3>
    <p>The "hello world" of emulator development.</p>
    <a href="{{root}}projects/chip8.html"><img src="{{rootImages}}projects/chip8-cover.jpg"></a>
    <p class="link-button">
        <a href="https://github.com/kevenv/chip8"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> C++, SDL, Qt</p>
</article>

<article>
    <h3 id="vehiculus"><a href="projects#vehiculus">Electric vehicles prototyping platform (Vehiculus)</a></h3>
    <p>Electric vehicles prototyping platform. Interfaced MATLAB/Simulink with a <a href="https://www.emus.ca/">real-life electric motorcycle</a> as my undergrad thesis project.</p>
    <img src="{{rootImages}}projects/vehiculus-cover.jpg">
    <p><i class="fas fa-code fa-fw"></i> C, RTOS, MATLAB, Simulink</p>
</article>

<h2>Hackathons</h2>

<article>
    <h3 id="neon"><a href="projects#neon">Myo gesture controlled video game (Neon)</a></h3>
    <p>
        Endless runner video game using the Myo hand gesture control armband as a game controller.<br>
        Winner "Most Retro Hack" - McHacks 2018.
    </p>
    <img src="{{rootImages}}projects/neon-cover.jpg">
    <p class="link-button">
        <a href="https://www.youtube.com/watch?v=gK75UnXug3s&feature=youtu.be"><i class="fas fa-video fa-fw"></i> Video</a>
        <a href="https://devpost.com/software/neon-s2grn1"><i class="far fa-newspaper fa-fw"></i> Devpost</a>
        <a href="https://github.com/kevenv/mchacks2018"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> Javascript, Three.js, WebGL</p>
</article>

<article>
    <h3 id="wavesim"><a href="projects.html#wavesim">Waves Simulator</a></h3>
    <p>
        Waves simulator in Three.js by solving the wave equation using numerical integration.<br>
        Won 2<sup>nd</sup> place at McGill's Physics Hackathon 2017.
    </p>
    <img src="{{rootImages}}projects/waves-sim-cover.jpg">
    <p class="link-button">
        <a href="{{root}}projects/physhackathon2017/main.html"><i class="fas fa-video fa-fw"></i> Demo</a>
        <a href="https://devpost.com/software/simwave"><i class="far fa-newspaper fa-fw"></i> Devpost</a>
        <a href="https://github.com/kevenv/physhackathon2017"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> Javascript, Three.js, WebGL</p>
</article>

<article>
    <h3 id="parkhere"><a href="projects.html#parkhere">Parking Rental App (ParkHere)</a></h3>
    <p>
        Parking rental Android app (and a failed startup).<br>
        Won 2<sup>nd</sup> place at Startup Weekend Montreal 2014.
    </p>
    <img src="{{rootImages}}projects/parkhere-cover.jpg">
    <p class="link-button">
        <a href="http://www.lesaffaires.com/blogues/julien-brault/snownitification-remporte-la-palme-a-startup-weekend-montreal/566137"><i class="far fa-newspaper fa-fw"></i> Journal les affaires</a>
        <a href="http://www.journaldemontreal.com/2014/02/12/startup-weekend-montreal-fait-emerger-deux-projets-interessants--parkhere-et-snowtification"><i class="far fa-newspaper fa-fw"></i> Journal de Montreal</a>
        <a href="http://www.hec.ca/en/news/2014/2014_Startup_weekend.html"><i class="far fa-newspaper fa-fw"></i> HEC Montreal</a>
        <a href="https://github.com/kevenv/parkhere"><i class="fab fa-github fa-lg"></i> Code</a>
    </p>
    <p><i class="fas fa-code fa-fw"></i> Java, Android</p>
</article>
