<h1>Projects</h1>

<div class="project-cat">
<hr>
<h2>Computer Graphics <3</h2>
<hr>

    <div class="project-row">
        <h3>Physically Based Renderer</h3>
        <div class="project-column">
            <img src="imgs/projects/pbr-cover.png">
        </div>
        <div class="project-column project-desc">
            <ul>
                <li>Volumetric Path Tracing</li>
                <li>Progressive Photon Mapping</li>
                <li>MIS</li>
                <li>Area light IS</li>
                <li>Diffuse BRDF</li>
                <li>Phong BRDF</li>
            </ul>
            <i class="fas fa-code fa-fw"></i> C++<br>
            <a href="https://github.com/kevenv/nori"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

    <div class="project-row">
        <h3>Ray Tracer</h3>
        <div class="project-column">
            <img src="imgs/projects/raytracer-cover.png">
        </div>
        <div class="project-column project-desc">
            <ul>
                <li>Phong shader</li>
                <li>Glass shader</li>
                <li>Mirror shader</li>
                <li>Dielectric shader</li>
                <li>Anti-Aliasing</li>
                <li>Environment mappnig</li>
            </ul>
            <i class="fas fa-code fa-fw"></i> Java
        </div>
    </div>

    <div class="project-row">
        <h3>Catmull-Clark Subdivisions</h3>
        <div class="project-column">
            <img src="imgs/projects/subdivs-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> Java, OpenGL<br>
            <a href="https://streamable.com/s/3hnk0/yiumat"><i class="fas fa-video fa-fw"></i> Video</a>
        </div>
    </div>

    <div class="project-row">
        <h3>Shadow Mapping</h3>
        <div class="project-column">
            <img src="imgs/projects/shadowmap-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> Java, OpenGL
        </div>
    </div>

    <div class="project-row">
        <h3>3D Cloth Simulator</h3>
        <div class="project-column">
            <img src="imgs/projects/cloth-sim-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> C++, Irrlicht<br>
            <a href="https://streamable.com/s/sfjf8/ssmxop"><i class="fas fa-video fa-fw"></i> Video</a><br>
            <a href="https://github.com/kevenv/3d-cloth-sim"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

    <div class="project-row">
        <h3>2D Collisions Solver</h3>
        <div class="project-column">
            <img src="imgs/projects/collisions-solver-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> Java, Java2D
        </div>
    </div>

    <div class="project-row">
        <h3>Fluids Solver</h3>
        <div class="project-column">
            <img src="imgs/projects/fluids-sim-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> Java, Java2D
        </div>
    </div>

    <div class="project-row">
        <h3>Real-Time Solar System Simulator</h3>
        <div class="project-column">
            <img src="imgs/projects/orbit-sim-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> C#, WindowsForms<br>
            <a href="https://github.com/kevenv/orbitsim"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

    <div class="project-row">
        <h3>Precomputed Radiance Transfert (PRT)</h3>
        <div class="project-column">
            <img src="imgs/projects/prt-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> Javascript, Three.js, WebGL<br>
            <a href="https://github.com/kevenv/prt"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

</div>

<div class="project-cat">
<hr>
<h2>Video Games</h2>
<hr>

    <div class="project-row">
        <h3>Real-Time Strategy Game engine (Europa)</h3>
        <div class="project-column">
            <img src="imgs/projects/europa-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> C++, SDL, OpenGL<br>
            <a href="https://github.com/Nicolas82588/europa"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

    <div class="project-row">
        <h3>2D Puzzle Platformer (ShinyPanda)</h3>
        <div class="project-column">
            <img src="imgs/projects/shinypanda-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> C++, SFM<br>
            <a href="https://github.com/kevenv/shinypanda"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

    <div class="project-row">
        <h3>Tetris Clone (Almost Tetris)</h3>
        <div class="project-column">
            <img src="imgs/projects/almosttetris-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> C#, WindowsForms<br>
            <a href="https://github.com/kevenv/AlmostTetris"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

</div>

<div class="project-cat">
<hr>
<h2>Low-level</h2>
<hr>

    <div class="project-row">
        <h3>GameBoy Emulator (AlmostGB)</h3>
        <div class="project-column">
            <img src="imgs/projects/almostgb-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> C++<br>
            <a href="https://github.com/kevenv/AlmostGB"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

    <div class="project-row">
        <h3>Chip8 Emulator</h3>
        <div class="project-column">
            <img src="imgs/projects/chip8-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> C++, SDL, Qt<br>
            <a href="https://github.com/kevenv/chip8"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

    <div class="project-row">
        <h3>Electric vehicles prototyping platform (Vehiculus)</h3>
        <div class="project-column">
            <img src="imgs/projects/vehiculus-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> C, RTOS, MATLAB, Simulink<br>
        </div>
    </div>
    
</div>

<div class="project-cat">
<hr>
<h2>Hackathons</h2>
<hr>

    <div class="project-row">
        <h3>Myo gesture controlled video game (Neon)</h3>
        <p class="winner"><i class="fas fa-trophy"></i> Winner "Most Retro Hack" - McHacks 2018</p>
        <div class="project-column">
            <img src="imgs/projects/neon-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> Javascript, Three.js, WebGL<br>
            <a href="https://www.youtube.com/watch?v=gK75UnXug3s&feature=youtu.be"><i class="fas fa-video fa-fw"></i> Video</a><br>
            <a href="https://devpost.com/software/neon-s2grn1"><i class="fas fa-terminal fa-fw"></i> Devpost</a><br>
            <a href="https://github.com/kevenv/mchacks2018"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

    <div class="project-row">
        <h3>Waves Simulator</h3>
        <p class="winner"><i class="fas fa-trophy"></i> 2<sup>nd</sup> Place - McGill's Physics Hackathon 2017</p>
        <div class="project-column">
            <img src="imgs/projects/waves-sim-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> Javascript, Three.js, WebGL<br>
            <a href="../physhackathon2017/main.html"><i class="fas fa-video fa-fw"></i> Demo</a><br>
            <a href="https://devpost.com/software/simwave"><i class="fas fa-terminal fa-fw"></i> Devpost</a><br>
            <a href="https://github.com/kevenv/physhackathon2017"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

    <div class="project-row">
        <h3>Parking Rental App (ParkHere)</h3>
        <p class="winner"><i class="fas fa-trophy"></i> 2<sup>nd</sup> Place - Startup Weekend Montreal 2014</p>
        <div class="project-column">
            <img src="imgs/projects/parkhere-cover.png">
        </div>
        <div class="project-column project-desc">
            <i class="fas fa-code fa-fw"></i> Java, Android<br>
            <a href="http://www.lesaffaires.com/blogues/julien-brault/snownitification-remporte-la-palme-a-startup-weekend-montreal/566137"><i class="far fa-newspaper fa-fw"></i> Journal les affaires</a><br>
            <a href="http://www.journaldemontreal.com/2014/02/12/startup-weekend-montreal-fait-emerger-deux-projets-interessants--parkhere-et-snowtification"><i class="far fa-newspaper fa-fw"></i> Journal de Montreal</a><br>
            <a href="http://www.hec.ca/en/news/2014/2014_Startup_weekend.html"><i class="far fa-newspaper fa-fw"></i> HEC Montreal</a><br>
            <a href="https://github.com/kevenv/parkhere"><i class="fab scicon3 fa-fw"></i> Code</a>
        </div>
    </div>

</div>
