<div class="content">

<h1>Publications</h1>

<p class="publication-row">
    <a href="https://binh.graphics/papers/2021s-DDMC/"><img class="publication-cover" src="{{rootImages}}publications/ddm_continuous_cover.jpg"></a>
    <h2 class="publication-title"><a href="https://binh.graphics/papers/2021s-DDMC/">Direct Delta Mush Skinning Compression with Continuous Examples</a></h2>
    <p class="publication-author">Binh Huy Le, Keven Villeneuve, and Carlos Gonzalez-Ochoa</p>
    <p class="publication-booktitle">SIGGRAPH 2021</p>
    <a href="https://binh.graphics/papers/2021s-DDMC/"><i class="fas fa-globe-americas"></i> Project</a>
    <a href="https://binh.graphics/papers/2021s-DDMC/DDM_Compression_with_Continuous_Examples.pdf"><i class="far fa-file-pdf"></i> Paper</a>
    <a href="https://www.youtube.com/watch?v=EztSXgimioo"><i class="fas fa-video fa-fw"></i> Video</a>
</p>

<p class="publication-row">
    <a href="{{root}}publications/master_thesis.html"><img class="publication-cover" src="{{rootImages}}publications/thesis_cover.jpg"></a>
    <h2 class="publication-title"><a href="{{root}}publications/master_thesis.html">Importance Sampling Polygonal Lights in Participating Media</a></h2>
    <p class="publication-author">Keven Villeneuve</p>
    <p class="publication-booktitle">M.Eng. thesis, McGill University, 2019 (Advisor: <a href="http://www.cim.mcgill.ca/~derek/">Derek Nowrouzezahrai</a>)</p>
    <a href="{{root}}publications/master_thesis.html"><i class="fas fa-globe-americas"></i> Project</a>
    <a href="{{rootDocs}}keven_villeneuve_thesis_meng.pdf"><i class="far fa-file-pdf"></i> Thesis</a>
</p>

</div>