* {
    box-sizing: border-box; /* make css easier */
    /*border: 2px dotted black;*/ /* debug */
}

body {
    max-width: 650px;
    margin: 1rem auto;
    padding: 0 10px;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: #202122;
    background-color: #F8F9FA;
}

header, footer {
    text-align: center;
}

h1, h2, h3 {
    line-height: 1.2;
}

h2 {
    border-bottom: 1px solid black;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    border: 1px solid black;
}

i.bx {
    width: 1.05em;
    vertical-align: middle;
}

ul {
    padding: 0;
    padding-left: 16px;
}

article {
    margin: 0;
    margin-bottom: 32px;
}

h3 + ul, h3 + p, h2 + ul, p + ul {
    margin-top: -10px;
}

a:link, a:visited, a:active {
    color: DarkBlue;
}
a:hover {
    color: DodgerBlue;
}

.link-button > a {
    text-decoration: none;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.caption {
    text-align: justify;
    font-style: italic;
    font-size: 15px;
    margin: 2px;
}

.cmd {
    background-color: AliceBlue;
    border: 1px solid black;
    padding: 0.1rem 0.3rem;
}

.bibtex {
    background-color: AliceBlue;
    border: 1px solid black;
    font-size: 11px;
    padding: 8px;
    white-space: pre-wrap;
}

/* IMGS GRID */
.imgs-grid table {
    table-layout: fixed;
    width: 100%;
    border: 0;
    border-spacing: 2px;
}
.imgs-grid td {
    width: 25%;
}
.imgs-grid img {
    vertical-align: top;
}
.imgs-grid a {
    width: 100%;
    filter: opacity(100%);
}
.imgs-grid a:hover {
    filter: opacity(70%);
}

/* POSTS */
.post-list h3 {
    margin: 4px 0;
}
.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.post-list li {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 0 10px;
}

@media(max-width:650px) {
    .post-list li {
        align-items: flex-start;
        flex-direction: column;
        justify-content: baseline;
        margin: 0 0 15px;
    }
}

.linenos {
    padding-left: 5px;
    padding-right: 5px;
}
.code {
    padding-left: 10px;
}
